[Desktop Entry]
Type=Application
Version=1.0
Name=GNU Emacs
GenericName=Emacs
Comment=Try me; This is local
Comment[de]=Emacs ist der erweiterbare, anpassbare, selbst-dokumentierende Echtzeit-Editor
Comment[es]=Emacs es un editor ampliable, adaptable, mismo documentado, de tiempo real
Comment[fr]=Emacs est l'éditeur plein écran avancé, auto-documenté, personnalisable et extensible
Icon=emacs
Exec=/usr/bin/emacsclient -c -n %F
Terminal=false
MimeType=text/css;text/english;text/html;text/plain;text/x-c;text/x-chdr;text/x-csrc;text/x-c++;text/x-c++hdr;text/x-c++src;text/x-java;text/x-makefile;text/x-moc;text/x-pascal;text/x-tcl;text/x-tex;application/x-shellscript;
Categories=Development;TextEditor;
StartupWMClass=Emacs
Comment[en_US]=Try me; This is local
Icon[en_US]=emacs
Name[en_US]=GNU Emacs
